@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
html,
body,
main,
section,
.swiper-wrapper,
.swiper-container,
.swiper-slide {
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro";
}

/* preloader animation*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #000;
  z-index: 1500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }


.home {
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	overflow: hidden;
	position: relative;
}

.home-row {
	  position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.home-title {
	color: #FFF;
	display: block;
	font-family: "Source Sans Pro";
	font-size: 5em;
	text-align: center;
	font-weight: 600;
}

.home-subtitle {
	font-size: 3em;
	color: #FFF;
	text-align: center;
}

.title {
	    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skill {
	font-family: "Source Sans Pro";
}

.btn-floating {
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: #67809F !important;
}

.fa-plus {
	color: #fff !important;
}

.round-circle {
	border-radius: 50%;
	background-color: #FFF; 
	width: 55.5px;
    height: 55.5px;
    position:relative;
  	top: 20px;
  	text-align: center;
}

.circle-container {
	top: 20px;
	visibility: hidden;
	position: absolute;
	height: 400px;
	left: 20px;
}

.first-circle {
	top: 70px;
}

.second-circle {
	top: 90px;
}

.third-circle {
	top: 110px;
}

.forth-circle {
	top: 130px;
}

.visible {
	visibility: visible;
}


.fixed-container {
	position: fixed;
}

.fa-nav {
	color: #2C3E50;
	font-size: 2em;
	margin-top: 14px;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -10%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 0%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, -17%, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

.swiper-slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.first-swiper-slide {
	background-image: url(http://herbadmother.com/wp-content/themes/thesis_18/custom/rotator/sample-1.jpg);
}

.second-swiper-slide {
	
}
@media (max-width: 768px) {
	.home-title {
		font-size: 3em;
	}

	.home-subtitle {
		font-size: 2em;
	}
}

.portfolio-image {
	width: 100%;
}