@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
/* layout */
html,
body,
main,
.swiper-wrapper,
.swiper-container,
.swiper-slide {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro";
}

html,body {
  overflow:hidden;
}

.parallax-mirror {
  display: block;
}

.parallax-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000');
  background-image: -o-linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.3));
  background-image: -moz-linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.3));
}

main {
  display: block;
}

section {
  height: 100%;
  width: 100%;
}
.skills-row, .home-row, .portfolio-about-row {
  height: auto;
}

.skills,.home, .portfolio-peaks, .portfolio-about-slide, .work {
   display: flex;
  justify-content: center;
  align-items: center;
}

.skills {
  position: relative;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/mac.png");
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000'), url("../img/mac.png");
  background-image: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/mac.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/mac.png");
  height: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.skills-row {
  z-index: 9999;
}

/* preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #000;
  z-index: 1500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* navigation */
.btn-nav {
  position: absolute;
  left: 20px;
  top: 20px;
  background-color: #000 !important;
  z-index: 9999;
  height: 70px !important;
  width: 70px !important;
  line-height: 70px !important;
  border: none;
}

.fa-plus {
  color: #fff !important;
  font-size: 2em !important;
  font-weight: 300;
  line-height: 70px !important;
}

.round-circle {
  border-radius: 50%;
  border: 2px solid #67809F; 
  background-color: #FFF; 
  width: 70px;
    height: 70px;
    position:absolute;
  top: 20px;
    text-align: center;
    line-height: 70px;
  visibility: hidden;
}

.round-circle > a {
  height: 80px;
  width: 80px;
}

.circle-container {
  visibility: visible;
  position: absolute;
  height: 400px;
  left: 19px;
  width: 100px;
}

.first-circle {
  z-index: 4;
}

.second-circle {
  z-index: 3;
}

.third-circle {
  z-index: 2;
}

.forth-circle {
  z-index: 1;
}

.fixed-container {
  position: fixed;
  z-index: 99999;
  display: none;
  left: -100%;
}

.fa-nav {
  color: #2C3E50;
  font-size: 2em;
  margin-top: 20px;
}


@-webkit-keyframes rotateIcon {
  from {
    -webkit-transform: rotateZ(0);
       -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
         -o-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  to {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-moz-keyframes rotateIcon {
  from {
    -webkit-transform: rotateZ(0);
       -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
         -o-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  to {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-o-keyframes rotateIcon {
  from {
    -webkit-transform: rotateZ(0);
       -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
         -o-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  to {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotateIcon {
  from {
    -webkit-transform: rotateZ(0);
       -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
         -o-transform: rotateZ(0);
            transform: rotateZ(0);
  }

  to {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.rotateIcon {
  -webkit-animation-name: rotateIcon;
     -moz-animation-name: rotateIcon;
       -o-animation-name: rotateIcon;
          animation-name: rotateIcon;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes unRotateIcon {
  from {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-moz-keyframes unRotateIcon {
  from {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-o-keyframes unRotateIcon {
  from {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes unRotateIcon {
  from {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
         -o-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }

  to {
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.unRotateIcon {
  -webkit-animation-name: unRotateIcon;
     -moz-animation-name: unRotateIcon;
       -o-animation-name: unRotateIcon;
          animation-name: unRotateIcon;
  -webkit-animation-duration: 1s;
     -moz-animation-duration: 1s;
       -o-animation-duration: 1s;
          animation-duration: 1s;
}

/* skills */
.skill-title {
  font-size: 3.8em;
  font-weight: 700;
  margin-bottom: 30px;
  color: #FFF;
  text-align: center;
}

.skills-info {
  font-size: 1.4em;
  line-height: 1.6em;
  font-weight: 300;
  text-align: justify;
  color: #FFF;
  z-index: -99999;
}

.skill-span {
  font-weight: 700;
}

.skill-anchor:hover {
  text-decoration: underline;
  color: #e57373;
}

.help-span {
  font-weight: 700;
  color: #e57373;
}
.parallax-miror {
  height: auto !important;
}

/* portfolio */
.portfolio-about-row {
  padding: 100px 0;
}

.portfolio-about-slide {
	padding: 50px 0;
}

.portfolio-image {
	width: 100%;
}

.portfolio-peaks {
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
	position: relative;
}

.portfolio-title {
	color: #FFF;
	text-align: center;
	font-size: 4.2em;
}

.portfolio-row {
	display: block;
    height: 100%;
}


.portfolio-round-circle {
	position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 50%;
    width: 55.5px;
    height: 55.5px;
	bottom: 20px;	
}

.fa-arrow-down {
    color: #fff;
    font-weight: 300;
    opacity: 0.7;
    z-index: 999;
}

.peaks-anchor {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.modal-trigger {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #67809F !important;
  z-index: 99999;
}

.btn-arrow {
  position: absolute;
  background-color: transparent !important;
    border: 1px solid rgba(255,255,255,0.75);
    bottom:-100%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.btn-more {
    position: absolute;
    display: none;
    bottom: 80px;
    background-color: transparent !important;
    z-index: 99999;
    width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    border: 1px solid rgba(255,255,255,.75);
}


.portfolio-modal {
  height: 40vh;
  z-index: 99999 !important;
  display: table !important;
  width: 80vw;
}


.modal-content {
  height: auto;
  display: table-cell;
  vertical-align: middle;
}

.modal-close {
  position: absolute;
    right: 0;
    bottom: 20px;
}

.modal-title {
  font-size: 2.5em;
}

.modal-paragraph {
  font-size: 1.2em;
  margin-top: 30px;
  font-weight: 300;
}

.btn-modal {
  width: auto;
    height: auto;
    position: absolute;
    left: 30px;
    margin: 0 auto !important;
    bottom: 20px;
}

.modal-bottom-row {
  margin-top: 30px;
}

.fa-envelope-o {
  font-size: 2em !important;
  line-height: 50px !important;
  color: #000;
}

.fa-envelope-o:hover {
  color: #039be5;
  cursor: pointer;
}


/* about */
.about-peaks {
	background-color: #fff;
	height: auto;
}

.about-peaks-anchor {
	color: #000;
	text-decoration: underline;
	margin-bottom: 10px;
}

.about-peaks-anchor:hover {
	text-decoration: underline;
	color: #039be5;
}

.fa-external-link {
	font-size: 0.5em;
}

.about-title-anchor {
	margin-left: 5px;
	color: #000;
}

.about-title-anchor:hover {
	color: #039be5;
}

.about-paragraph {
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.6em;
	text-align: justify;
}

.about-paragraph-anchor {
	text-align: center;
	margin-bottom: 15px;
}

.about-title {
	font-size: 2em;
	text-align: center;
	font-weight: 700;	
	margin-bottom: 40px;
}

/* contact */
.contact {
	height: auto;
	padding: 100px 0;
    background-color: #000;
    display:table;
}

.contact-row {
	display: table-cell;
	vertical-align: middle;
}

.btn-contact {
  width: 55px !important;
    height: 55px !important;
    line-height: 55px !important;
    font-size: 3em;
}

.fa-contact {
	color: #FFF;
	position: relative;
	line-height:55px !important;
	font-size: 1.5em;
	margin-bottom: 70px;
}

.fa-contact:hover {
	color: #039be5;
	top: 2px;
	-webkit-transition: top .5s ease;
	   -moz-transition: top .5s ease;
	    -ms-transition: top .5s ease;
	     -o-transition: top .5s ease;
	        transition: top .5s ease;
}


/* footer */
footer {
	height: 15%;
	background: #000;
	border-top: 1px solid rgba(255,255,255,0.25);
	position: relative;
  font-size: 0.7em;
}

.footer-link {
	color: #039be5;
	display: block;
	position: absolute;
	left: 20px;
  font-size: 1em;
}

.twitter {
	bottom: 20px;
}

.mail {
	bottom: 35px;
}


/* typed.js */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
        color: #FFF;
        font-size: 1.2em;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.hire-me {
  font-size: 3em;
}

.work-title {
  font-size: 4em;
}

/* responsive */
@media (min-width: 480px) {
	.skills-info {
		font-size: 1.8em;
	}

  .modal-paragraph {
    font-size: 1.6em;
  }

}
@media (min-width: 600px) {
	.fa-contact {
		margin: 0 auto;
	}
}

@media (min-width: 768px) {
	.about-paragraph {
		font-size: 1.6em;
	}
	.home-title {
		font-size: 7em;
	}

	.portfolio-title {
		font-size: 5em;
	}

	.skills-info {
		font-size: 1.8em;
	}

	.btn-more {
		right: 20px;
		bottom: 20px;
		width: 20%;
		left: auto;
		margin: 0;
	}
}

@media (min-width: 980px) {
	.about-paragraph {
		font-size: 1.8em;
	}

	.about-title {
		font-size: 3em;
	}

  .modal-paragraph {
    font-size: 2em;
  }

  .portoflio-modal {
    width: 30vw;
  }

  .portoflio-title {
    font-size: 6em;
  }

  .portfolio-about-row {
    padding: 200px 0;
  }

  .footer-link {
    font-size: 1.5em;
  }

  .mail {
    bottom: 50px;
  }

  .skills-info {
    font-size: 2em;
  }

}
@media (min-width: 1200px) {
	.home-title,
	.portoflio-title {
		font-size: 7em;
	}
	.home-subtitle {
		font-size: 3em;
	}
	.skills-info {
		font-size: 2.2em;
	}

	.about-paragraph {
		font-size: 2em;
	}

	.about-title {
		font-size: 4em;
	}

  .hidden-on-large {
    display: none;
  }

  .skills {
    background-image: none;
    height: 100% !important;
    padding-bottom: 0;
    padding-top: 0;
  }

  .parallax-mirror, main {
    display: none;
  }

  .parallax-layer {
     background-image: none;
     background-image: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0))
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
     background-image: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
     background-image: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
  }
}
@media (max-height: 700px) {
  .skill-title { 
    font-size: 2em;
  }
  .skills-info {
    font-size: 1.4em;
  }
}
