@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
html,
body,
main,
section,
.swiper-wrapper,
.swiper-container,
.swiper-slide {
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro";
}

/* preloader animation*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99; }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -100px 0 0 -100px; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #000;
  z-index: 1500;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  -moz-animation: spin 1.5s linear infinite;
  -o-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }


.home {
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	overflow: hidden;
	position: relative;
	height: 100% !important;
}

.home-row {
	  position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.home-title {
	color: #FFF;
	display: block;
	font-family: "Source Sans Pro";
	font-size: 5em;
	text-align: center;
	font-weight: 600;
}

.home-subtitle {
	font-size: 3em;
	color: #FFF;
	text-align: center;
}

.title {
	    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skill {
	font-family: "Source Sans Pro";
}

.btn-floating {
	position: absolute;
	left: 20px;
	top: 20px;
	background-color: #67809F !important;
	z-index: 9999;
}

.fa-plus {
	color: #fff !important;
}

.round-circle {
	border-radius: 50%;
	background-color: #FFF; 
	width: 55.5px;
    height: 55.5px;
    position:absolute;
	top: 20px;
  	text-align: center;
}

.circle-container {
	visibility: hidden;
	position: absolute;
	height: 400px;
	left: 20px;
}

.first-circle {
	z-index: 4;
}

.second-circle {
	z-index: 3;
}

.third-circle {
	z-index: 2;
}

.forth-circle {
	z-index: 1;
}

.visible {
	visibility: visible;
}


.fixed-container {
	position: fixed;
	z-index: 99999;
}

.fa-nav {
	color: #2C3E50;
	font-size: 2em;
	margin-top: 14px;
}


.swiper-slide {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}


@media (max-width: 768px) {
	.home-title {
		font-size: 3em;
	}

	.home-subtitle {
		font-size: 2em;
	}
}

.portfolio-image {
	width: 100%;
}

.portfolio-peaks {
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3));
		position: relative;
}

.portfolio-title {
	color: #FFF;
	text-align: center;
	font-size: 4em;
}

.portfolio-row {
	display: block;
    height: 100%;
}

.portfolio-col {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	     -o-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.portfolio-round-circle {
	position: absolute;
	top: 300px;
	border: 1px solid #fff;
	background: transparent;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 99999;
}

.portfolio-round-circle:hover {
	background: #Fff;
	border: 2px solid #000;
	-webkit-transition: background .9s ease, border .9s ease;
	-moz-transition: background .9s ease, border .9s ease;
	-ms-transition: background .9s ease, border .9s ease;
	-o-transition: background .9s ease, border .9s ease;
	transition: background .9s ease, border .9s ease;
	opacity: 0.6
	
}


.portfolio-round-circle:hover > .fa {
	color: #000;
	-webkit-transition: color .9s ease;
	   -moz-transition: color .9s ease;
	    -ms-transition: color .9s ease;
	     -o-transition: color .9s ease;
	        transition: color .9s ease;
}
.fa-angle-double-down {
	font-size: 3em;
	color: #fff;
	margin-top: 6px;
	font-weight: 300;
	opacity: 0.7;
}

.peaks-anchor {
	position: relative;
	height: 100%;
}

.about-peaks {
	background-color: #231F20;
}