/* Navigation */

nav.navbar.navbar-default {
	background: #ff7878;
	padding: 20px 0;
	text-transform: uppercase;
}

.navbar-default .navbar-brand {
	color: #fff;
	position: relative;
}

a.navbar-brand {
	font-size: 24px;
}

.navbar-default .navbar-brand:hover {
	color: #4edec2;
	top: -3px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4edec2;
	top: -3px;
}

/* Typography */

body {
	font-family: 'Arimo', sans-serif;
}

.navbar {
	font-weight: 700;
	letter-spacing: 3px;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 50px;
}

header h1 {
	color: #fff
}

h3 {
	color: #fff;
	margin-top: -20px;
	font-size: 30px;
	letter-spacing:1px;	
}

section#skills h3, section#skills h1, section#skills hr {
	color: #4edec2;
}

section#skills h3 {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

section#about h2 {
	text-align: left;
}

section#contact h1 {
	color: #4edec2;
}

section#contact h3 {
	color: #4edec2;
	margin-top: -20px;
	margin-bottom: 20px;
} 

h4 {
	text-align: center;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 20px 0;
}

h5 {
	text-align: center;
	font-size: 14px;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #ff7878;
}

/* Global styles */

hr {
	max-width: 450px;
	border: 2px solid;
}

.heart {
	font-size: 3em;
	position: relative;
	top: -42px;
	color: #ff7878;
}

.col-lg-12 {
	text-align: center;
}

.progress {
	height: 50px;
}

.progress-bar {
	background: #ff7878;
	background-image: none;
}

div.progress-bar {
	font-size: 25px;
	color: #fff;
	padding-top: 13px;
}

span.glyphicon.glyphicon-map-marker {
	color: #fff;
}

/* Layout */

header {
	background: #4edec2;
} 

header hr {
	color: #fff;
}

header .heart {
	color: #ff7878;
}

.section {
	padding: 60px 0;
}

img {
	margin: 100px auto 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #fff;
}

section#about {
	background: #4edec2;
	color: #fff;
}

section#contact hr {
	border-color: #4edec2;
}


footer {
	background: #334657;
	color: #fff;
	padding: 40px 0;
}

.col-lg-4 {
	margin-top: 50px;
}

.col-lg-6 span {
	color: #ff7878;
}

.fa {
	color: #ff7878;
	position: relative;
	font-size: 130px;

} 

.fa:hover {
	color: #4edec2;
	;
	top: -5px;
}
/* Media Queries */

@media (min-width: 980px) {
	i.fa {
		width: 2.5em;
		height: 2.5em;
	}


}