/* Navigation */
.navbar-default {
	background: #ff7878;
	padding: 20px 0;
	text-transform: uppercase;
}

.navbar-default .navbar-brand {
	color: #fff;
	position: relative;
	font-size: 2em;
}

.navbar-default .navbar-brand:hover {
	color: #4edec2;
	top: -3px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4edec2;
	top: -3px;
}

/* Typography */

body {
	font-family: 'Arimo', sans-serif;
}

.navbar {
	font-weight: 700;
	letter-spacing: 3px;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 5em;
	margin-bottom: 50px;
}

@media(min-width: 1200px) {
	h1 {
		font-size: 5em;
	}
}

.white_text {
	color: #fff
}

h3 {
	font-size: 3em;
	letter-spacing:1px;	
}

.light_blue {
	color: #4edec2;
}

#skills h3 {
	text-align: left;
	margin: 20px 0;
}

section#about h2 {
	text-align: left;
}

h4 {
	text-align: center;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 2em;
	margin: 20px 0;
}

h5 {
	text-align: center;
	font-size: 1.5em;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #ff7878;
}

/* Global styles */

hr {
	max-width: 450px;
	border: 2px solid;
	display: inline-block;
	width: 33%;
	vertical-align: middle;
}

.heart {
	font-size: 3em;
	color: #ff7878;
	display: inline-block;
	vertical-align: middle;
}

.col-lg-12 {
	text-align: center;
}

.progress {
	height: 50px;
}

.progress-bar {
	background: #ff7878;
	background-image: none;
	font-size: 2em;
	color: #fff;
	padding-top: 13px;
}

/* Layout */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	background: #4edec2;
} 

header hr {
	color: #fff;
}

header .heart {
	color: #ff7878;
}

.section {
	padding: 60px 0;
}

img {
	margin: 100px auto 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #fff;
}

#about {
	background: #4edec2;
	color: #fff;
}

#contact hr {
	border-color: #4edec2;
}

footer {
	background: #334657;
	color: #fff;
	padding: 40px 0;
}

footer .heart {
	color: #ff7878;
	font-size: 2em;
	vertical-align: baseline;
	font-size: 1em;
}

.col-lg-4 {
	margin-top: 50px;
}

.fa {
	color: #ff7878;
	position: relative;
	font-size: 12em;
} 

.fa:hover {
	color: #4edec2;
	top: -5px;
}
