/* Navigation */

nav.navbar.navbar-default {
	background: #ff7878;
	padding: 20px 0;
	text-transform: uppercase;
}

.navbar-default .navbar-brand {
	color: #fff;
	position: relative;
}

a.navbar-brand {
	font-size: 24px;
}

.navbar-default .navbar-brand:hover {
	color: #4edec2;
	top: -3px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4edec2;
	top: -3px;
}

/* Typography */

body {
	font-family: 'Arimo', sans-serif;
}

.navbar {
	font-weight: 700;
	letter-spacing: 3px;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 50px;
}

header h1 {
	color: #fff
}

h3 {
	color: #fff;
	margin-top: -20px;
	font-size: 30px;
	letter-spacing:1px;	
}

section#skills h3, section#skills h1, section#skills hr {
	color: #4edec2;
}

section#skills h3 {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 20px;
}

section#about h2 {
	text-align: left;
}

section#contact h1 {
	color: #4edec2;
}

h4 {
	text-align: center;
	margin-bottom: 20px;
	font-weight: normal;
	letter-spacing: 2px;
	font-size: 20px;
	margin: 20px 0;
}

/* Global styles */

hr {
	max-width: 450px;
	border: 2px solid;
}

.heart {
	font-size: 3em;
	position: relative;
	top: -42px;
	color: #ff7878;
}

.col-lg-12 {
	text-align: center;
}

.progress {
	height: 50px;
}

.progress-bar {
	background: #ff7878;
	background-image: none;
}

div.progress-bar {
	font-size: 25px;
	color: #fff;
	padding-top: 13px;
}

/* Layout */

header {
	background: #4edec2;
} 

header hr {
	color: #fff;
}

header .heart {
	color: #ff7878;
}

.section {
	padding: 60px 0;
}

img {
	margin: 100px auto 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #fff;
}

section#about {
	background: #4edec2;
	color: #fff;
}

section#contact hr {
	border-color: #4edec2;
}

.form-horizontal {
	margin-top: 20px;
}

.form-control {
	width: 400px;
	margin: 0 auto;
}

input.form-control {
	height: 70px;
}

input.form-control textarea#textarea.form-control {
	font-size: 18px;
}

.btn-info {
	height: 50px;
	float: none;
	width: 400px;
	font-size: 24px;
	letter-spacing: 2px;
	background: #ff7878;
}

.btn-info:hover {
	background: #4edec2;
}

footer {
	background: #334657;
	color: #fff;
	padding: 40px 0;
}

.col-lg-4 {
	margin-top: 20px;
}

.col-lg-4 span {
	color: #ff7878;
}

.btn-github, .btn-twitter, .btn-facebook {
	background: #ff7878;
	color: #fff;
	font-size: 30px;
	width: 60px;
	border-radius: 30px;
	position: relative;
} 

.btn-twitter, .btn-facebook {
	margin-left: 30px;
}

.btn-github:hover, .btn-twitter:hover, .btn-facebook:hover {
	background: #4edec2;
	color: #fff;
	top: -5px;
}
/* Media Queries */

@media (max-width: 768px) {
	.form-control {
		width: 300px;
	}

	.btn-info {
		width: 300px;
	}
}