$default-width: 3px;
$default-height: 3px;
$linethrough-height: 5px;

$default-delay: 2s;
$without-delay: 0s;

$max-height: 100%;
$max-width: 100%;

$half-width: 50%;
$half-height: 50%;

$small-height: 1px;
$color: #13293D;
$font-size: 4em;
$speed: 1s;
$easing: ease;
$transition-color: #1B98E0;
$hover-color: #1B98E0;
$padding: 10px;
$default-background-color: #2C3E50;