body,html {
  font-family: 'Playfair Display', serif;
  overflow: auto; 
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  width: 100%; 
}

.overflow {
  @media (min-width: 980px) {
      overflow: hidden; 
  }
}

.border {
  position: fixed;
  width: 100%;
  background-color: $white;
  height: 10px;
  top: 0;
  left: 0; 
  z-index: 9999;   
}


main {
  border: 10px solid $white;
  position: relative;
}

a:focus,
a:hover {
  text-decoration: none;
}

.row {
  margin: 0;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-blue {
  color: $blue;
}
