/* Navigation */

nav.navbar.navbar-default {
	background: #ff7878;
	padding: 20px 0;
	text-transform: uppercase;
}

.navbar-default .navbar-brand {
	color: #fff;
	position: relative;
}

a.navbar-brand {
	font-size: 24px;
}

.navbar-default .navbar-brand:hover {
	color: #4edec2;
	top: -3px;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #4edec2;
	top: -3px;
}

/* Typography */

body {
	font-family: 'Arimo', sans-serif;
}

.navbar {
	font-weight: 700;
	letter-spacing: 3px;
}

h1 {
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 60px;
	font-weight: 600;
	margin-bottom: 50px;
}

header h1 {
	color: #fff
}

h3 {
	color: #fff;
	margin-top: -20px;
	font-size: 30px;
	letter-spacing:1px;	
}

/* Global styles */

hr {
	max-width: 450px;
	border: 2px solid;
}

.heart {
	font-size: 3em;
	position: relative;
	top: -42px;
}

.col-lg-12 {
	text-align: center;
}

/* Layout */

header {
	padding: 80px 0;
	background: #4edec2;
} 

img {
	margin: 100px auto 50px;
	height: 200px;
	width: 200px;
	border: 1px solid #fff;
}

header hr {
	color: #fff;
}

header .heart {
	color: #ff7878;
}



