$demo-main-color: #2C3E50;
$demo-hover-color: #1B98E0;

body,html {
  width: 100%;
  height: 100%;
  background:  #E8F1F2;
  font-family: "Lato", sans-serif;   
}

main {
  height: 100%; 
}

.left-side {
  position: fixed;
  left: 0;  
  background: $demo-main-color;
  width: 100%;
  overflow: auto;
  height: 100%; 
  z-index: 1; 
  left: -100%; 
  @media (min-width: 1200px) {
    width: 30%; 
    left: 0; 
  }  
  
  @media (min-width: 1400px) {
    width: 25%; 
    left: 0; 
  }  
}

.right-side {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  @media (min-width: 1200px) {
    width: 70%; 
  }   
  
  @media (min-width: 1400px) {
    width: 75%; 
  }   

}

.effects-list {
  margin: 0 auto;
  text-align: center; 
  margin-top: 100px; 
  padding-bottom: 50px; 
  list-style: none; 
  
  @media (min-width: 1200px) {
    text-align: left; 
    padding-left: 30px; 
  }
}

.text-con {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
}

button {
   background: none;
   border: none;
 }
 
 button::-moz-focus-inner {
   border: 0;
 }
 
 :focus {
   outline: none;
 }
 
 ::-moz-focus-inner {
   border: 0;
 }
 
 .btn-nav:hover {
   cursor: pointer;
 }
 
 .btn-nav:hover .bar {
   background-color: #1B98E0;
 }
 
 .bar {
   display: block;
   height: 5px;
   width: 50px;
   background: $demo-main-color;
   margin: 10px auto;
 }
 
 .btn-nav {
   display: block;
   padding: 15px 0;
   width: 50px;
   position: fixed;
   left: 20px;
   margin: 0 auto;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   -o-transition: all 1s ease;
   transition: all 1s ease;
   z-index: 9999; 
   
   @media (min-width: 1200px) {
     display: none;
   }
 }
 
 .btn-nav:focus {
   outline: none;
 }
 
 .middle {
   margin: 0 auto;
 }
 
 .bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }
 
 .animated {
   z-index: 9999;
 }

 .animated .bar {
   z-index: 9999; 
  background-color: #fff;
 }
 
 .animated .arrow-top-r {
   -webkit-transform: rotateZ(-45deg) translateY(11px);
   -moz-transform: rotateZ(-45deg) translateY(11px);
   -ms-transform: rotateZ(-45deg) translateY(11px);
   -o-transform: rotateZ(-45deg) translateY(11px);
   transform: rotateZ(-45deg) translateY(11px);
   width: 25px;
 }
 
 .animated .arrow-middle-r {
   -webkit-transform: translateX(25px);
   -moz-transform: translateX(25px);
   -ms-transform: translateX(25px);
   -o-transform: translateX(25px);
   transform: translateX(25px);
 }
 
 .animated .arrow-bottom-r {
   -webkit-transform: rotateZ(45deg) translateY(-11px);
   -moz-transform: rotateZ(45deg) translateY(-11px);
   -ms-transform: rotateZ(45deg) translateY(-11px);
   -o-transform: rotateZ(45deg) translateY(-11px);
   transform: rotateZ(45deg) translateY(-11px);
   width: 25px;
 }


 @keyframes showNav {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }
 
 @-webkit-keyframes showNav {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }
 
 @-moz-keyframes showNav {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }
 
 @-o-keyframes showNav {
   from {
     left: -100%;
   }
   to {
     left: 0;
   }
 }
 
 .showNav {
   -webkit-animation: showNav .5s ease forwards;
   -moz-animation: showNav .5s ease forwards;
   -o-animation: showNav .5s ease forwards;
   animation: showNav .5s ease forwards;
     z-index: 999; 
 }
 
 @keyframes hideNav {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }
 
 @-webkit-keyframes hideNav {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }
 
 @-moz-keyframes hideNav {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }
 
 @-o-keyframes hideNav {
   from {
     left: 0;
   }
   to {
     left: -100%;
   }
 }
 
 .hideNav {
   @media (max-width: 1200px) {
    -webkit-animation: hideNav 1s ease forwards;
   -moz-animation: hideNav 1s ease forwards;
   -o-animation: hideNav 1s ease forwards;
   animation: hideNav 1s ease forwards;
   }
 }
 
 .hidden {
  @media (max-width: 1200px) {
     display: none;

  }
 }


.links-con {
  position: absolute;
  right: 50px;
  top: 20px;
  z-index: 1;    
}



.item-divider {
  cursor: auto;
  text-transform: uppercase;
  font-weight: 700;  
  opacity: 1; 
  margin: 40px 15px;
  color: #fff;
  font-size: 2em; 
}

.styles {
  list-style: none;
  width: 100%;
  margin: 0 auto; 
  border-top: 1px solid rgba(225,225,225, .3); 
  padding-bottom: 30px; 
}

.item,
.item a {
    color: #fff;
    font-weight: 300;
    cursor: pointer; 
    font-size: 1.4em;
    line-height: 2em;
    text-decoration: none; 
    
     &:hover,
    &:focus {
      color: #E8F1F2;
      -webkit-transition: color 1s ease; 
      -moz-transition: color 1s ease; 
      -ms-transition: color 1s ease; 
      -o-transition: color 1s ease; 
      transition: color 1s ease; 
    }
}

.item-active,
.item-active a {
 color: $demo-hover-color !important;
 -webkit-transition: all 1s ease; 
 -moz-transition: all 1s ease; 
 -ms-transition: all 1s ease; 
 -o-transition: all 1s ease; 
 transition: all 1s ease; 
}
.nav {
  color: $color;
  top: 10px;
  font-weight: 700; 
  font-size: 1em;
  @include transition-opt;
  @include underline-right;

  &:focus {
    outline: none;
  }

  @media (min-width: 480px) {
    font-size: 1.2em;
    @include transition-opt();
  }
}

.sass {
  font-size: 1em;
  color: #fff;
  font-weight: 500; 
  
  @media (min-width: 768px) {
    font-size: 1.1em; 
  }  
}

.em-git {
  color: #fff;
  font-size: 0.8em;
  font-weight: 300; 
  
  @media (min-width: 480px) {
    font-size: 1em; 
  }
  
  @media (min-width: 768px) {
    font-size: 1.2em; 
  } 
}

.div-git {
  background: $color;
  width: auto;
  margin: 0 auto;
  padding: 20px;
  text-align: center; 
  display: block;  
}

.include {
  color: #F22613;
}

.property {
  color:#E3B505;
}

.value {
  color: #247BA0;
}

.clone {
  color: $color;
}

.comment {
  color: #E8F1F2;
  opacity: .7;
}

.code {
  color: #fff;
  font-size: .6em;
  font-weight: 500;
  
  @media (min-width: 300px) {
    font-size: .7em; 
  }  
  
  @media (min-width: 480px) {
    font-size: 0.9em;
  }

  @media (min-width: 600px) {
    font-size: 1em; 
  }
  
  @media(min-width: 768px) {
    font-size: 1em; 
  }
  
  @media (min-width: 1200px) {
    font-size: 1.1em; 
  }

  @media (min-width: 1500px) {
    font-size: 1.3em; 
  }
}

.pseudoem {
  color:red;
}
.effect-demo {
  margin: 0 auto;
  font-size: 3em;
  color: $color;
  font-weight: 700; 
  @include transition-opt;
  
  &.block {
    width: 90%; 
    @include transition-opt(
      $display: block
      );
    
    &.half-width {
      width: 50%;
    }
  }
}