@import 'bower_components/text-hover-effects/sass/effects';
@import 'bower_components/text-hover-effects/sass/css-classes';
@import "demo_layout";


span {
	font-size: 3em;
	text-transform: uppercase;
	font-weight: 700; 
	cursor: pointer;
	@include transition-opt();
}