@import "bower_components/text-hover-effects/sass/effects";
@import "bower_components/text-hover-effects/sass/css-classes";
@import "demo_layout";

.content {
	color: #fff;
	width: 100%;
	margin: 100px auto 0; 
	text-align: center; 
}

.content-active {
	display: block;
}

.main-container {
	height: auto; 
	margin-top: 150px; 
	padding-bottom: 100px; 
}

.content-heading {
	font-size: 2.5em;
	font-weight: 700;
	color: #2C3E50;
	@media (min-width: 480px) {
		font-size: 3em; 
	}
	@media (min-width: 768px) {
		font-size: 4em; 
	}
	@include transition-opt;
	@include underline-closing;

}

.content-small-heading {
	color: $color;
	font-size: 2em;
	margin-left: 40px;
	margin-top: 80px; 
	font-weight: 700;
	font-size: 2em;
	text-align: left;
}

.content-paragraph {
	font-size: 1.2em; 
	width: 80%;
	margin: 50px auto 30px;  
	line-height: 1.6em;  
	color: #2C3E50;
	font-weight: 300;
	text-align: justify; 
	@media (min-width: 480px) {
		font-size: 1.6em;  
	}

	@media (min-width: 768px) {
		font-size: 2em;
	}
}
.effect-em {
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.2em;
	font-weight: 700;
	color: #2C3E50;

	@include transition-opt(
		$padding: 5px
		);
	
	&.fill-top-left {
		@include transition-opt(
			$padding: 10px,
			$hover-color: $color
			);

	}
}

.item-doc {

	a {
		color: #fff;
		font-weight: 300;
		cursor: pointer; 
		background: $color;
		text-align: left;
		font-size: 1.6em;
		line-height: 2em;
		margin-left: 25px;
		text-transform: uppercase; 
		text-decoration: none;
		
		&:hover,
		&:focus {
			color: #1B98E0;
			-webkit-transition: color 1s ease; 
			-moz-transition: color 1s ease; 
			-ms-transition: color 1s ease; 
			-o-transition: color 1s ease; 
			transition: color 1s ease; 
		} 
	}
}

.content-container {
	display: table;
	width: 80%;
	margin: 20px auto; 
}



.text-effect {
	color: $color;
	font-weight: 700; 
	&.h1 {
		font-size: 3em;
		@media (min-width: 480px) {
			font-size: 3.5em; 
		}
		@media (min-width: 768px) {
			font-size: 4em; 
		}
	}

	&.h2 {
		font-size: 2.5em;
		@media (min-width: 480px) {
			font-size: 3em; 
		}
		@media (min-width: 768px) {
			font-size: 3.5em; 
		}
	}

	&.h3 {
		font-size: 2em;
		@media (min-width: 480px) {
			font-size: 2.5em; 
		}
		@media (min-width: 768px) {
			font-size: 3em; 
		}
	}

	&.h4 {
		font-size: 1.5em;
		@media (min-width: 480px) {
			font-size: 2em; 
		}
		@media (min-width: 768px) {
			font-size: 2.5em; 
		}
	}

	&.h5 {
		font-size: 1em;
		@media (min-width: 480px) {
			font-size: 1.5em; 
		}
		@media (min-width: 768px) {
			font-size: 2em; 
		}
	}

	&.h6 {
		font-size: .8em;
		@media (min-width: 480px) {
			font-size: 1em; 
		}
		@media (min-width: 768px) {
			font-size: 1.5em; 
		}
	}

	&.p,
	&.a,
	&.span,
	&.em,
	&.b,
	&.li  {
		font-size: 1em;
		@media (min-width: 480px) {
			font-size: 1.5em; 
		}
		@media (min-width: 768px) {
			font-size: 2em; 
		}
	}
	@include transition-opt;
	@include underline-closing;
}

.anchor {
	font-size: 1.2em;
	color: $color;
	@include transition-opt;
}

.button-result {
	background-color: #2C3E50;
	border: 1px solid #2C3E50;
	font-weight: 500;
	font-size: 1.5em;
	color: #fff;
	@include transition-opt(
		$hover-color: $color,
		$padding: 20px
		);
	@include fill-closing-horizontal;
}


pre {
	text-align: left; 
	background-color: $color;
	margin: 20px; 
	display: block;

	&.full-width {
		width: 100%;
		margin: 20px auto; 
		
		@media (min-width: 1400px) {
			width: 60%; 
		}
	}

	&.half-width {
		@media (min-width: 768px) {
			width: 50%; 
			display: table-cell;
			vertical-align: middle;
		}
	}

}

.result {
	width: 100%;
	display: inline-block; 
	text-align: center; 

	@media (min-width: 768px) {
		width: 50%; 
		margin-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}
}

.info-code {
	background: $color;
	margin: 50px auto 30px;
	width: 80%;  

	@media (min-width: 1400px) {
		width: 60%;
	} 
}

.subinfo {
	font-size: 1.5em;
	font-weight: 700; 
	margin: 30px 20px;
	color: $color;
	text-align: left; 

	@media (min-width: 980px) {
		margin: 30px 50px; 
	}
}