@import "partials/effects";
@import "partials/demo_layout";
@import 'partials/css-classes';

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #E8F1F2;
  font-family: 'Source Sans Pro', Arial;
}

.main {
  padding-bottom: 200px;
  overflow: initial;
  height: auto;
  
  @media (min-width: 600px) {
      padding-bottom: 100px;

  }
}


.main-col {
  width: 100%;
  padding-top: 100px; 
  text-align: center;
}

.col-anchors {
  width: 90%;
  text-align: center;
  height: auto;  
  position: relative;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    width: 100%; 
  }  
}

.btn-index {
  background-color: #13293D;
  -webkit-box-shadow: none;
  box-shadow: none;  
  width: 30%;
  margin: 20px auto 0;
  color: #fff;
  font-weight: 300;
  font-size: 1em; 
  border: none;
  padding: 0;
  
  @media (min-width: 480px) {
    width: 30%;
    font-size: 1.2em;  
  }

  @media (min-width: 768px) {
    width: 20%; 
  }

  @media (min-width: 980px) {
    width: 20%; 
    margin: 40px 20px;
    font-size: 1.5em;
  }

  @media (min-width: 1200px) {
    width: 15%; 
  }

  @media (min-width: 1400px) {
    width: 10%; 
  }
}

.btn-a {
  width: 100%; 
  color: #fff;
  height: 60px;
  line-height: 60px;  
  font-weight: 300; 
  @include transition-opt(
    $display: block,
    $padding: 0
  );
  @include underline-right;

}

.main-heading {
  width: 60%; 
  font-size: 2em;
  font-weight: 700;
  color: $color; 
  @include transition-opt(
    $delay-after: .5s
    );
  
  @include double-underline-opening;
  
  @media (min-width: 480px) {
    font-size: 2.5em;
  } 

  @media (min-width: 600px) {
    font-size: 3em; 
  }

  @media (min-width: 980px) {
   font-size: 4em;
  } 
}

.github-div {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; 
  bottom: 10px;

  @media (min-width: 980px) {
    bottom: 15px;
  }
}

.heading-info {
  font-size: 1.2em; 
  color: $color; 
  margin: 30px auto 20px;
  text-align: center; 
  
  @media (min-width: 980px) {
    font-size: 1.5em; 
  }
  
  @media (min-width: 1200px) {
    font-size: 1.8em; 
  }
}

.heading-about {
  font-size: 1.5em;
  color: $color;
  margin: 50px auto;
  font-weight: 600; 
  
  @media (min-width: 768px) {
    font-size: 1.8em; 
  }
  
  @media (min-width: 980px) {
  font-size: 2em;
  } 
  
  @media (min-width: 1200px) {
    font-size: 2.5em; 
  } 
}

.col {
  width: 90%; 
  margin: 0 auto;
  
  @media (min-width: 480px) {
    width: 80%; 
  }
  
  @media (min-width: 768px) {
    width: 70%; 
  }
  
  @media (min-width: 980px) {
    width: 50% 
  } 
  
  @media (min-width: 1200px) {
      width: 50%;
  }

  @media (min-width: 1400px) {
    width: 40%; 
  }
}

.info-code {
  background: $color;
  width: 100%;
  margin: 0 auto 30px;  
}

.info-result {
  width: 80%;
  margin: 30px auto 0;
  text-align: center;   
}