@import "partials/effects";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #E8F1F2;
  font-family: 'Source Sans Pro', Arial;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}

.main-col {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.col-anchors {
  width: 90%;
  text-align: center;
  height: auto;  
  position: relative;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    width: 100%; 
  }  
}

.container {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  -o-transform: translateY(-50%); 
  transform: translateY(-50%);  
}

.btn {
  background-color: #13293D;
  -webkit-box-shadow: none;
  box-shadow: none;  
  width: 80%;
  margin: 20px auto 0;
  color: #fff;
  font-weight: 300;
  font-size: 2em;
  border: none;
  padding: 0;

  @media (min-width: 768px) {
    width: 50%; 
    font-size: 2em;
    margin: 20px;
  }

  @media (min-width: 980px) {
    width: 20%; 
    margin: 40px 20px;
  }

  @media (min-width: 1200px) {
    width: 15%; 
  }
}

.btn-a {
  width: 100%; 
  color: #fff;
  height: 80px;
  line-height: 80px;  
  font-weight: 300; 
  @include transition-opt(
    $display: block,
    $padding: 0
  );
  @include left-bottom;

}

.main-heading {
  width: 60%; 
  font-size: 2em;
  font-weight: 700;
  color: $color; 
  @include transition-opt(
    $delay-after: .5s
    );
  
  @include double-underline-opening;
  
  @media (min-width: 480px) {
    font-size: 2.5em;
  } 

  @media (min-width: 600px) {
    font-size: 3em; 
  }

  @media (min-width: 980px) {
   font-size: 4em;
  } 
}

.main-subheading {
  font-size: 1.5em; 
  margin: 10px 0; 
  color: $color;
  font-weight: 500; 
  
  @media (min-width: 480px) {
    font-size: 1.7em; 
  }
  
  @media (min-width: 768px) {
    font-size: 2.2em; 
  }
}

.subheading-em {
  line-height: 1.6em; 
  font-size: 1.2em;
  font-weight: 700;
  color: $color; 
  @include transition-opt(
    $padding: 5px
    );
  
  @include underline-closing;
}