.btn-nav {
  position: fixed;
  background: transparent;
  height: 60px;
  width: 60px;
  right: 20px;
  top: 65px;
  border: none;
  z-index: 999999;
  display: none;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  padding: 0;
  @media (min-width: 980px) {
    right: 60px;
  }
  &:hover {
    background-color: #2349cf;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
  &:focus {
    outline: none;
  }
}

.blue-btn {
  .icon-bar {
    background-color: $blue;
  }
  &:hover{
    .icon-bar {
      background: $white;
    }
  }
}

.icon-bar {
  width: 20px;
  height: 3px;
  margin: 3px auto;
  display: block;
  background-color: $white;
  z-index: 999999; 
} 

.btn-opened {
  .icon-bar {
    background-color: $white; 
  }
}