.nav-inner {
  position: absolute;
  width: 100%;
  @include centralize;
}

.nav-content {
  width: 100%;
  background: $dark-blue;
  top: 0;
  right: 0;
  left: 0; 
  bottom: 0;
  position: fixed;
  overflow: hidden; 
  z-index: 999; 
}


.nav-content-list {
  z-index: 99; 
  text-align: center;
  -webkit-transition: all 1s ease 5s;
  -moz-transition: all 1s ease 5s;
  -ms-transition: all 1s ease 5s;
  -o-transition: all 1s ease 5s;
  transition: all 1s ease 5s;
}

.nav-content-item {
  margin-bottom: 15px;
  @media (min-height: 400px) {
    margin-bottom: 30px;
  }

  @media (min-width: 980px) {
    margin-bottom: 0; 
  }
  a {
    color: $white;
    font-size: 22px;
    @media (min-width: 480px) {
      font-size: 25px;
    }
    @media (min-width: 768px) {
      font-size: 50px;
      line-height: 90px; 
    }
    @media (min-width: 980px) {
      font-size: 57px;
    }
    &:hover {
      text-decoration: none;
    }
    &:hover:after {
      background-color: $light-blue;
    }
  }
}

.nav-content-heading {
  font-size: 8px;
  color: $white;
  text-transform: uppercase;
  letter-spacing: .5em;
  margin-bottom: 15px;
  margin-left: 5px; 
  @media (min-height: 400px) {
    margin-bottom: 30px;
  }
  @media (min-height: 600px) {
    margin-bottom: 40px;
  }
  @media (min-width: 480px) {
    font-size: 10px;
  }
  @media (min-width: 768px) {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 90px; 
  }
}
.closed {
  height: 0;
  -webkit-transition: all 2s ease; 
   -moz-transition: all 2s ease; 
   -ms-transition: all 2s ease; 
   -o-transition: all 2s ease; 
   transition: all 2s ease;  
}

@keyframes showNav {
  from {
    height: 0; 
  } 
  to {
    height: 100%; 
  }
}

@-webkit-keyframes showNav {
  from {
    height: 0; 
  } 
  to {
    height: 100%; 
  }
}
@-moz-keyframes showNav {
  from {
    height: 0; 
  } 
  to {
    height: 100%; 
  }
}

@-o-keyframes showNav {
  from {
    height: 0; 
  } 
  to {
    height: 100%; 
  }
}

.showNav  {
  -webkit-animation: showNav 1s ease forwards; 
  -moz-animation: showNav  1s ease forwards; 
  -o-animation: showNav  1s ease forwards; 
  animation: showNav 1s ease forwards; 
}


@keyframes hideNav {
  from {
    height: 100%; 
  } 
  to {
    height: 0; 
  }
}

@-webkit-keyframes hideNav {
  from {
    height: 100%; 
  } 
  to {
    height: 0; 
  }
}

@-moz-keyframes hideNav {
  from {
    height: 100%; 
  } 
  to {
    height: 0; 
  }
}

@-o-keyframes hideNav {
  from {
    height: 100%; 
  } 
  to {
    height: 0; 
  }
}

.hideNav {
  -webkit-animation: hideNav 1s ease forwards; 
  -moz-animation: hideNav 1s ease forwards; 
  -o-animation: hideNav 1s ease forwards; 
  animation: hideNav 1s ease forwards; 
}