.preloader-con {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #fff;
   z-index: 999999;
}


/* see original preloader here: 
http://webdesign.tutsplus.com/tutorials/creating-a-collection-of-css3-animated-pre-loaders--cms-21978
*/
#preloader_3{
    position:absolute;
    top: 50%;
    left: 45%; 
}
#preloader_3:before{
    width:20px;
    height:20px;
    border-radius:20px;
    background:#A0DBF6;
    content:'';
    position:absolute;
    -webkit-animation: preloader_3_before 1.5s infinite ease-in-out; 
    -moz-animation: preloader_3_before 1.5s infinite ease-in-out; 
    -o-animation: preloader_3_before 1.5s infinite ease-in-out; 
    animation: preloader_3_before 1.5s infinite ease-in-out; 
}

#preloader_3:after{
    width:20px;
    height:20px;
    border-radius:20px;
    background: #DD8BBD;
    content:'';
    position:absolute;
    left:22px;
    -webkit-animation: preloader_3_after 1.5s infinite ease-in-out; 
      -moz-animation: preloader_3_after 1.5s infinite ease-in-out; 
      -o-animation: preloader_3_after 1.5s infinite ease-in-out; 
      animation: preloader_3_after 1.5s infinite ease-in-out;   
}

@-webkit-keyframes preloader_3_before {
    0% {-webkit-transform: translateX(0px) rotate(0deg);transform: translateX(0px) rotate(0deg)}
    50% {-webkit-transform: translateX(50px) scale(1.2) rotate(260deg);transform: translateX(50px) scale(1.2) rotate(260deg); background:#A0DBF6;border-radius:0px;}
    100% {-webkit-transform: translateX(0px) rotate(0deg);transform: translateX(0px) rotate(0deg)}
}
@keyframes preloader_3_before {
    0% {-webkit-transform: translateX(0px) rotate(0deg);transform: translateX(0px) rotate(0deg)}
    50% {-webkit-transform: translateX(50px) scale(1.2) rotate(260deg);transform: translateX(50px) scale(1.2) rotate(260deg); background:#A0DBF6;border-radius:0px;}
    100% {-webkit-transform: translateX(0px) rotate(0deg);transform: translateX(0px) rotate(0deg)}
}


@-webkit-keyframes preloader_3_after {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px)}
    50% {-webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#DD8BBD;border-radius:0px;}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px)}
}
@keyframes preloader_3_after {
    0% {-webkit-transform: translateX(0px);transform: translateX(0px)}
    50% {-webkit-transform: translateX(-50px) scale(1.2) rotate(-260deg);transform: translateX(-50px) scale(1.2) rotate(-260deg);background:#DD8BBD;border-radius:0px;}
    100% {-webkit-transform: translateX(0px);transform: translateX(0px)}
}