.nav {
  width: 100%;
  background: $dark-blue-primary;
  height: 110px; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;  
}

.logo-nav {
  height: 16px;
  width: 80px;  
}

.logo-container {
  margin-left: 30px;
  margin-top: 30px;  
}

.logo-brand {
  cursor: pointer;
  height: 52px; 
  width: 155px; 
  
  @include bg("../img/lorem-logo.png");
  @include retina("../img/lorem-logo@2x.png", 218px 74px);
}

.list-item {
  display: inline-block;
  margin-right: 70px; 
}

.nav-anchor {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300; 
}

.nav-anchor:focus {outline:none;}
.nav-anchor::-moz-focus-inner {border:0;}

.sidebar-con {
  right: -999px;
  position: fixed;
  height: 100%;
  z-index: 9999;
  width: 100%;  
  background: $dark-blue-button;
  display: block;
  
  @media (min-width: 768px) {
    width: 50%; 
  }

  @media (min-width: 980px) {
    display: none;
  }
}

.sidebar {
  top: 45%;
  position: relative;
  -webkit-transform: translateY(-50%); 
  -moz-transform: translateY(-50%); 
  -ms-transform: translateY(-50%); 
  -o-transform: translateY(-50%); 
  transform: translateY(-50%); 
  text-align: center; 
  @media (min-width: 768px) {
    top: 0;
    -webkit-transform: none; 
    -moz-transform: none; 
    -ms-transform: none; 
    -o-transform: none; 
    transform: none;  
    margin-top: 100px;
    position: static;
    text-align: left; 
  }
}

.sidebar-item {
  margin: 70px 40px;
  outline: none;

  
  &:focus,
  &:hover {
    outline: none;
  }
}

.sidebar-item::-moz-focus-inner {border:0;outline:none;}

.sidebar-anchor {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 500; 
  
  @media (min-width: 768px) {
    font-size: 1.5em; 
  }  
  
}

.sidebar-open {
  position: absolute;
  right: 40px;
  top: 20px;
  color: #fff;
  background: transparent;
  border: none;
  font-size: 3.5em; 
  cursor: pointer;
  
  &:hover,
  &:focus {
    outline: 0;
    color: $red;
    -webkit-transition: color 1s ease; 
    -moz-transition: color 1s ease; 
    -ms-transition: color 1s ease; 
    -o-transition: color 1s ease; 
    transition: color 1s ease; 
  } 

  @media (min-width: 980px) {
    display: none;
  }  
}

.close {
  font-size: 2.5em;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: 0;
    color: $red;
    -webkit-transition: color 1s ease; 
    -moz-transition: color 1s ease; 
    -ms-transition: color 1s ease; 
    -o-transition: color 1s ease; 
    transition: color 1s ease; 
  }
}
