@mixin centralize($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: (translateX(-50%) translateY(-50%)); 
    -moz-transform: (translateX(-50%) translateY(-50%)); 
    -ms-transform: (translateX(-50%) translateY(-50%)); 
    -o-transform: (translateX(-50%) translateY(-50%)); 
    transform: (translateX(-50%) translateY(-50%)); 
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    -webkit-transform: (translateX(-50%)); 
    -moz-transform: (translateX(-50%)); 
    -ms-transform: (translateX(-50%)); 
    -o-transform: (translateX(-50%)); 
    transform: (translateX(-50%)); 
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    -webkit-transform: (translateY(-50%)); 
    -moz-transform: (translateY(-50%)); 
    -ms-transform: (translateY(-50%)); 
    -o-transform: (translateY(-50%)); 
    transform: (translateY(-50%)); 
  }
}

@mixin overlay($url) {
   -webkit-background-size: cover; 
 -o-background-size: cover; 
 background-size: cover;   
 background-position: center center;
 background-repeat: no-repeat; 
   background-image:linear-gradient(rgba(27, 75, 255, .6),rgba(27, 75, 255, .6)), $url;
}